#header{
    background: #237d4a;
    padding: 10px 0 10px 0;
}
#container_first{
    padding: 20px 0 20px 0;
}

#button_login{
    width: 100%;
    background: #237d4a;
    color: #fff;
}

.fullwidth{
    width: 100%;
    background: #237d4a;
}
.form-register{
    display: inline-block;
}
.title_page{
    color: #fff;
 
    text-transform: uppercase;
    
}
.pading_top{
    padding-top: 50px;
    
}

.buttons{
    padding-top: 10px;
}

#hello{
    color: white;
}
.header_color{
    background: #237d4a;
    border-color:#237d4a;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus{
    background-color: #2FBE6E;
}